@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
	border: 0;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    margin: 0;
	padding: 0;
}

body {
background-color: #051D3B;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.body-content {
    margin: 8px 2rem;

    /* TEST */
    display: flex;
    justify-content: space-between;
}
