@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.editor {
    width: 55%;
    margin-bottom: 2rem;
}

.editor__background {
    background-color: #6BD1FF;
    border-radius: 8px;
    box-sizing: border-box;
    width: 100%;
    padding: 2rem;
}

.editor__field {
    background: #141414;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.24);
    box-sizing: border-box;
    border-radius: 8px;
    width: 100%;
    padding: 1rem;
}

.editor__idle-buttons {
    display: flex;
    margin-bottom: 24px;
}

.editor__idle-button {
    margin-right: 8px;
    border-radius: 100%;
    width: 12px;
    height: 12px;
}

.editor__codeWrapper {
    min-height: 15rem;
}

.editor__codeInput {
    background-color: inherit;
    font-family: 'Roboto Mono', monospace;
    font-size: .875rem;
    outline: none;
} 

.idle-button--red {
    background-color: #FF5F56;
}

.idle-button--yellow {
    background-color: #FFBD2E;
}

.idle-button--green {
    background-color: #27C93F;
}

.editor__button {
    background-color: var(--buttonDarkBlue);
    border-radius: 8px;
    border: transparent;
    cursor: pointer;
    font-size: 16px;
    height: 3.5rem;
    margin-top: 32px; 
    transition: 300ms ease-out;  
    width: 100%;
}

.editor__button:hover {
    background-color: var(--buttonDarkBlueHover);
    transition: 300ms ease-out;  
}

.editor__button:focus {
    background-color: var(--buttonDarkBlueFocus);
    transition: 300ms ease-out;  
    outline: none;
}

.editor__button:active {
    background-color:  var(--buttonDarkBlueHover);
    border: 4px solid var(--buttonDarkBlueFocus);
    transition: 300ms ease-out;  
}

.editor__export {
    margin: 2rem 0;
    display: flex;
    flex-wrap: wrap;
}


.export__title {
    letter-spacing: 0.4em;
    font-size: 0.75rem;
    font-weight: normal;
    text-transform: uppercase;
    width: 100%;
}

.export__name, .export__format {
    background-color: var(--inputColor);
    box-sizing: border-box;
    height: 3.5rem;
    margin-top: 16px;
    padding: 0 1rem;
    font-size: 16px;
}

.export__name {
    border-right: 1px solid #141414;
    border-radius: 8px 0 0 8px;
    width: 38%;
}

.export__name::placeholder {
    color: var(--placeholderColor);
}

.export__name:hover, .export__name:focus,
.export__format:hover, .export__format:focus {
    background-color: var(--inputColorFocus);
    outline: none;
}

.export__format {
    appearance: none; 
    background-image: url(../img/select-vector.svg);
    background-repeat: no-repeat;
    background-position: 95% 50%;
    border-radius: 0 8px 8px 0;
    color: var(--placeholderColor);
    width: 32%;
}

.export__option {
    background-color: rgb(65,83,106);
    color: rgb(168, 176, 186);
}

.export__optgroup {
    background-color: rgb(65,83,106);
    color: #d0d0d0;
}

.export .editor__button {
    margin-left: 1rem;
    margin-top: 16px;
    width: calc(30% - 1rem);
}

@media screen and (max-width:1250px) {
    .editor {
        width: 50%;
    }

    .export__name, .export__format {
        width: 50%;
    }

    .export .editor__button {
        width: 100%;
        margin-left: 0;
        margin-top: 8px;
    }
}

@media screen and (max-width:950px) {
    .editor {
        width: 100%;
    }
    .editor__codeWrapper  {
        min-height: calc(100vh - 23rem); 
    }

    .export__name, .export__format {
        width: 35%;
    }

    .export .editor__button {
        margin-left: 1rem;
        margin-top: 16px;
        width: calc(30% - 1rem);
    }
}

@media screen and (max-width:550px) {
    .editor__background {
        padding: 1rem;
    }
    .export__name, .export__format {
        width: 100%;
        border-radius: 8px;
    }
    .export .editor__button {
        margin-left: 0;
        width: 100%;
    }
}
