.header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 56px;
    margin: 2rem;
}

.search-box { 
    flex-shrink: 2;
    background-color:rgba(255, 255, 255, 0.16);
    border: none;
    border-radius: 10px;
    height: 100%;
    width: 47rem;
    padding: 0 1rem;
}

.search-box:focus {
    outline: none;
}

.profile {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    padding: 0.75rem;
    width: 106px;
}

.profile__name {
    padding-left: 8px;
}








