.header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 3.5rem;
    margin: 2rem;
}

.search-box { 
    background-color:var(--inputColor);
    border: none;
    border-radius: 10px;
    height: 100%;
    width: 55%;
    padding: 0 1rem;
}

.search-box::placeholder {
    color: var(--placeholderColor);
}

.search-box:hover, .search-box:focus {
    background-color: var(--inputColorFocus);
    outline: none;
}

.profile {
    align-items: center;
    box-sizing: border-box;
    border-radius: 8px;
    height: 100%;
    padding: 0.75rem;
    width: 6.625rem;
}

.profile:hover {
    background-color: rgba(255, 255, 255, 0.08);
}

.profile__name {
    padding-left: 8px;
}

.topnav {
    height: 100%;
}

.topnav__item {
    background-color: inherit;
    padding: 1.5rem;
    margin-left: 1rem;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 16px;
    transition: 300ms ease-out;
}

.topnav__item:hover {
    background-color: rgba(80, 129, 251, 0.08);
    transition: 300ms ease-out;
}

.search-icon {
    background-image: url(../img/search.svg);    
}

.menu-icon {
    background-image: url(../img/menu.svg);
}

.x-icon {
    background-color: rgba(80, 129, 251, 0.16);
    background-image: url(../img/x.svg);
}

.header .removeElement {
    display: none;
    position: absolute;
}

@media screen and (max-width: 4000px) {
    .topnav {
        display: none;
        position: absolute;
    }
    .profile {
        display: flex;
        margin-left: calc(20% - 6.625rem); /* form width - profile width */
    }
    .logo {
        margin-right: calc(12rem - 145px);  /* menu width - logo size */
    }    
}

@media screen and (max-width:1250px) {
    .topnav {
        display: none;
        position: absolute;
    }
    .search-box {
        width: 50%;
    }
    .profile {
        display: flex;
        margin-left: calc(12rem - 6.625rem); /* form width - profile width */
    }
    .logo {
        margin-right: calc(12rem - 145px);  /* menu width - logo size */
    }    
}

@media screen and (max-width:950px) {
    .topnav {
        position: unset;
        display: flex;
        align-items: center;
    }
    .menu-icon, .search-box {
        display: inline-block;
    }
    .search-icon, .profile {
        display: none;
    }
    .logo {
        margin-right: 0;  /* menu width - logo size */
    }    
}

@media screen and (max-width:550px) {
    .header {
        margin: 1rem;
    }
    .topnav {
        position: unset;
        display: flex;
        align-items: center;
    }
    .search-icon, .menu-icon {
        display: inline-block;
    }
    .search-box, .profile {
        display: none;
    }
    .search-box.active {
        display: inline-block;
        width: 100%;
    }
    .logo {
        margin-right: 0;  /* menu width - logo size */
    }    
}
