.header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 56px;
    margin: 2rem;
}

.logo {
    margin-right: calc(13rem - 145px);
}

.search-box { 
    background-color:rgba(255, 255, 255, 0.16);
    border: none;
    border-radius: 10px;
    height: 100%;
    width: 47rem;
    padding: 0 1rem;
}

.search-box::placeholder {
    color: rgba(255, 255, 255, 0.64);
}

.search-box:hover, .search-box:focus {
    background-color: rgba(255, 255, 255, 0.24);
    outline: none;
}


.profile {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    margin-left: calc(17rem - 6.625rem);
    padding: 0.75rem;
    width: 6.625rem;
}

.profile__name {
    padding-left: 8px;
}


/* 
@media screen and (min-width: 0) {
}


@media screen and (min-width: 768px) {
    .search-button, .profile {
        display: none;
    }

    .logo {
        margin-right: calc(13rem - 145px);
    }
    .sidebar-menu
       {
        margin-left: calc(17rem - 6.625rem);
    } 
} */

@media screen and (min-width: 992px) {
    .logo {
        margin-right: calc(13rem - 145px);
    }

    .search-button, .sidebar-menu {
        display: none;
    }
    .profile {
        display: flex;
    }
}

